/*Скрытие меню для смартфонов*/

@media screen and (max-width: 600px) {
    ul.left-menu {
        font-size: 2em;
        visibility: hidden;
        display: none;
    }

    .main {
        padding-left: 1em;
        padding-right: 1em;
        margin:0;
        text-align: center;
    }

    h1.names_pages {
        font-size: 2em;
    }

    ul.bottom-menu {
        visibility: visible;
    }
}

@media screen and (max-height: 600px){
    .left-menu li a.settings{
        position: relative; /* добавили */
    }
}

@media screen and (min-width: 600px){
    ul.left-menu {
        visibility: visible;
    }

    ul.bottom-menu {
        visibility: hidden;
    }
}