.background-auth {
    position: absolute;
    background:linear-gradient(
            0deg, rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
    url("../img/bg-1.jpg");
    filter: blur(1px);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.main-authentication {
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-rows: 5em 15em 7em;
    grid-row-gap: 4em;
    padding-top: 7%;
    grid-template-columns: 100%;
    grid-template-areas:
        "names_pages"
        "text-areas"
        "btn_confirm"
        "google_apple_sing_in";

    /*grid-row-gap: 3.5vh;*/

    /*font-family: 'Montserrat', sans-serif;*/
}

.href-names{
    grid-area: names_pages;



    display: inline;

    /*display: grid;*/

    /*grid-template-columns: 100%;*/
    /*grid-template-rows: 100%;*/

    justify-content: center;
    /*justify-items:center;*/
    /*text-align: center;*/
}

.href-names h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 4em;

}

.href-names h2{
    color: grey;
    font-size: 2em;
    text-align: center;
    line-height: 1.7;
}

.href-names a {
    text-decoration: none;
    color: grey;
}



.text-input {
    grid-area: text-areas;
    text-align: center;
    position: relative;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    /*background-color: #A3FFD3;*/
}

.input {
    position: relative;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-row-gap: 1em;
    grid-template-columns: 100%;
    grid-template-areas: 'name'
                         'text_input';
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.input h2 {
    grid-area: name;
    font-weight: 500;
}

.input input {
    grid-area: text_input;
    position: relative;

    height: 2em;
    width: 35%;

    border: none;
    outline: none;
    resize: none;
    overflow: hidden;


    background-color: #FFFFFF;
    text-align: left;
    justify-content: center;
    color: #000000;

    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.3em;

    padding-left: 1em;
    padding-right: 1em;
    line-height: 3.5em;
    border-radius: 10px;
}

.btn-conf {
    grid-area: btn_confirm;

    height: 50%;
    width: 36.9%;

    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    overflow: hidden;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #A3FFD3;
    text-align: center;
    justify-content: center;
    color: #000000;

    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 1.3em;
}

.google-apple {
    grid-area: google_apple_sing_in;
    background-color: yellow;
}
