.main-catalog {
    display: grid;
    grid-template-rows: 8em 30em;
    grid-template-areas:
        "names_pages"
        "content";
    grid-row-gap: 3.5vh;

    /*font-family: 'Montserrat', sans-serif;*/
}

h1.names_pages {
    margin-top: 1em;
    font-size: 4em;
    grid-area: names_pages;
}

.content {
    grid-area: content;

    width: 100%;

    display: grid;

    justify-items:left;
    grid-row-gap: 3em;
    grid-template-rows: 3em 24em;

    grid-template-areas:    "name"
                            "carousel";
}

.content h2{
    grid-area: name;
    font-weight: 500;
    font-size: 2em;
}

.carousel {
    grid-area: carousel;

    position: relative;
    display: grid;

    height: 24em;
    width: 100%;




    grid-template-columns: 17em 17em 17em 17em;
    grid-column-gap: 3em;
}

.item {
    position: relative;

    background-color: #47a3da;
    height: 24em;
    width: 17em;
    border-radius: 0.3em;
}













/* Поисковая страница */

.main-catalog {
    display: grid;
    grid-template-rows: 8em 30em;
    grid-template-areas:
        "names_pages"
        "content";
    grid-row-gap: 3.5vh;
}

h1.names_pages {
    margin-top: 1em;
    font-size: 4em;
    grid-area: names_pages;
}



.search {
    position: relative;

    height: 4em;

    background-color: #505050;
    text-align: left;
    justify-content: center;
    color: #909090;

    margin-right: 2em;

    padding-left: 2em;
    padding-right: 2em;
    line-height: 4em;
    border-radius: 10px;
}

@media screen and (max-width: 1300px){

    .content h2{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 960px){


    h1.names_pages {
        font-size: 3.5em;
    }

    .content h2{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 850px){

    h1.names_pages {
        font-size: 3.3em;
    }

    .content h2{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 750px){

    .main {
        grid-row-gap: 2.9vh;
    }

    h1.names_pages {
        font-size: 3em;
    }



    /*.content h2{*/
    /*    font-size: 1.1em;*/
    /*}*/
}

@media screen and (max-width: 700px){
    .content {
        justify-content: center;
    }
}

@media screen and (max-width: 600px){
    .content {
        justify-content: center;
    }

    h1.names_pages {
        font-size: 2.5em;
    }
}