<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A&M</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
</head>
<body id="gradient">
    
        <div>
            <nav class="navbar navbar-expand-lg">
                <!-- Тут прописать код bootstrap, который выравнивает по середине-->
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">A!M</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Главаная</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Shop">Магазин</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Indi">Инди</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="">
            @RenderBody()
        </div>

        <footer class="fixed-bottom">
            <div class="col-md-6 row">
                <div class="col-md-4">
                    &copy; 2020 - A&М
                </div>
                <div class="col-md-4">
                    logo
                </div>
                <div class="col-md-4">
                    Made in Russia
                </div>
            </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
